@media only screen and (max-width: 480px) {
    body{
		-webkit-user-select: none;
		-moz-user-select: none;
	}
	
	#receive_display{
		background-color: white;
		display: grid;
		grid-template-columns: 10% 5% 5% 15% 30% 15% 20%;
		grid-template-rows: 5% 5% 25% 5% 25% 20% 10%;
		grid-template-areas: '. . . . . . .'
							 '. receive_back . . . . .'
							 '. . . receive_title receive_title receive_title .'
							 '. . . . . . .'
							 '. . . top_bubble top_bubble top_bubble .'
							 '. . . down_bubble down_bubble down_bubble .'
							 '. . . . receive_msg . .';
		height: 100vh;
		width: 100vw;
	}
	
	#receive_back{
		grid-area: receive_back;
		background-image: url('../images/kekeke-10.png');
		background-size: contain;
		background-position: left center;
		background-repeat: no-repeat;
	}
	
	#receive_title{
		grid-area: receive_title;
		background-image: url('../images/kekeke-13.png');
		background-size: contain;
		background-position: center center;
		background-repeat: no-repeat;
	}
	
	#top_bubble{
		position: relative;
		grid-area: top_bubble;
		transform: translateY(7%);
	}
	
	#top_bubble_resize{
		background-image: url('../images/kekeke-27.png');
		background-size: contain;
		background-position: bottom center;
		background-repeat: no-repeat;
		position: absolute;
		bottom: 0;
		width: 100%;
		height: 100%;
	}
	
	#down_bubble{
		grid-area: down_bubble;
		background-image: url('../images/kekeke-14.png');
		background-size: contain;
		background-position: top center;
		background-repeat: no-repeat;
	}
	
	#receive_msg{
		grid-area: receive_msg;
		background-image: url('../images/kekeke-24.png');
		background-size: contain;
		background-position: center center;
		background-repeat: no-repeat;
	}
	
	#popup_mail{
		background-color: white;
		border-radius: 10px;
		width: 0px;
		height: 0px;
		top: 50vh;
		left: 50vw;
		position: fixed;
		display: grid;
		grid-template-columns: 5% 90% 5%;
		grid-template-rows: 1fr 9fr 1fr;
		grid-template-areas: 'popup_top popup_top popup_top'
							 'popup_pic popup_pic popup_pic'
							 '. popup_down .';
		z-index: 100;
	}
	
	#popup_background{
		background-image: url('../images/kekeke-20.png');
		background-size: 100% 100%;
		background-position: left center;
		background-repeat: no-repeat;
		top: 0px;
		left: 0px;
		width: 0px;
		height: 0px;
		position: fixed;
		z-index: 99;
	}
	
	#popup_top{
		grid-area: popup_top;
		display: grid;
		grid-template-columns: 15% 75% 10%;
		grid-template-rows: 30% 40% 30%;
		grid-template-areas: '. . .'
							 'popup_back . popup_menu'
							 '. . .';
	}
	
	#popup_back{
		grid-area: popup_back;
		background-image: url('../images/kekeke-09.png');
		background-size: contain;
		background-position: center center;
		background-repeat: no-repeat;
	}
	
	#popup_menu{
		grid-area: popup_menu;
		background-image: url('../images/kekeke-17.png');
		background-size: contain;
		background-position: center center;
		background-repeat: no-repeat;
	}
	
	#popup_pic{
		grid-area: popup_pic;
		background-image: url('../images/kekeke-05.png');
		background-size: 100% 100%;
		background-position: center center;
		background-repeat: no-repeat;
	}
	
	#popup_nextpage{
		position: relative;
		width: 0%;
		height: 100%;
		float: right;
	}
	
	#popup_blur{
		background-image: url('../images/kekeke-16.png');
		background-size: 100% 100%;
		background-position: center center;
		background-repeat: no-repeat;
		position:absolute;
		width: 100%;
		height: 100%;
		z-index: 101;
	}
	
	#text_field{
		width: 100%;
		height: 80%;
		display: table;
	}
	
	#popup_text{
		display : table-cell;
		vertical-align : middle;
		position: relative;
		font:italic bold 20px arial,sans-serif;
		width: 100%;
		height: 100%;
		z-index: 102;
		line-height: 30px;
		padding-left: 7%;
	}
	
	#popup_shot{
		position: absolute;
		background-image: url('../images/kekeke-05.png');
		background-size: 100% 100%;
		background-position: center center;
		background-repeat: no-repeat;
		border-radius: 9999px;
		left: 8%;
		bottom: 8%;
		width: 10%;
		height: 10%;
		z-index: 102;
	}
	
	#popup_like{
		position: absolute;
		background-image: url('../images/kekeke-18.png');
		background-size: 100% 100%;
		background-position: center center;
		background-repeat: no-repeat;
		right: 23%;
		bottom: 8%;
		width: 7%;
		height: 7%;
		z-index: 102;
	}
	
	#popup_collection{
		position: absolute;
		background-image: url('../images/kekeke-19.png');
		background-size: 100% 100%;
		background-position: center center;
		background-repeat: no-repeat;
		right: 10%;
		bottom: 8%;
		width: 5%;
		height: 7%;
		z-index: 102;
	}
	
	#popup_down{
		grid-area: popup_down;
		line-height: 10vw;
		text-align: center;
	}
	
	.ui-loader{
		display: none;
	}
}