@media only screen and (max-width: 480px) {
    body{
		-webkit-user-select: none;
		-moz-user-select: none;
		overflow-x: hidden;
	}
	
	#profile_display{
		display: grid;
		grid-template-columns: 10% 25% 25% 5% 20% 5% 10%;
		grid-template-rows: 10% 15% 5% 30% 30% 10%;
		grid-template-areas: '. back account account . setting .'
							 '. profile_title profile_title sendbox sendbox sendbox .'
							 '. . . . . . .'
							 'second_block second_block second_block second_block second_block second_block second_block'
							 'third_block third_block third_block third_block third_block third_block third_block'
							 'fourth_block fourth_block fourth_block fourth_block fourth_block fourth_block fourth_block';
		height: 100vh;
		width: 100vw;
	}
	
	#back{
		grid-area: back;
		background-image: url('../images/kekeke-10.png');
		background-size: 20% auto;
		background-position: left center;
		background-repeat: no-repeat;
	}
	
	#account{
		grid-area: account;
		text-align: center;
		line-height: 9vh;
		font-family: source-han-sans-traditional, sans-serif;
		font-style: normal;
		font-weight: 500;
		font-size: 14px;
		text-decoration: underline;
	}
	
	#setting{
		grid-area: setting;
		background-image: url('../images/kekeke-08.png');
		background-size: contain;
		background-position: left center;
		background-repeat: no-repeat;
	}
	
	#profile_title{
		position:relative;
		width: 95%;
		grid-area: profile_title;
		background-color: #DDA090;
		text-align: left;
		transform: translateY(-5%);
	}
	
	#sendbox{
		position:relative;
		grid-area: sendbox;
		background-color: #771525;
		text-align: left;
		transform: translateY(-5%);
	}
	
	#shot{
		background-image: url('../images/face-21.png');
		background-size: contain;
		background-position: left center;
		background-repeat: no-repeat;
		position: absolute;
		height: 30%;
		width: 30%;
		top: 30%;
		left: 5%;
		z-index: 10;
	}
	
	#edit{
		font-family: "Andale Mono";
		font-size: 10px;
		color: white;
		position: absolute;
		bottom: 12%;
		left: 5%;
	}
	
	#send{
		font-family: "Andale Mono";
		font-size: 10px;
		color: white;
		position: absolute;
		bottom: 12%;
		left: 5%;
	}
	
	#second_block{
		grid-area: second_block;
		position: relative;
	}
	
	#notifications{
		position: absolute;
		left: 5%;
		top: calc(20% - 12px);
		width: 60%;
		font-family: source-han-sans-traditional, sans-serif;
		font-style: normal;
		font-weight: 300;
		font-size: 14px;
	}
	
	#push_notifications{
		position: absolute;
		left: 5%;
		top: calc(40% - 12px);
		width: 60%;
		font-family: source-han-sans-traditional, sans-serif;
		font-style: normal;
		font-weight: 300;
		font-size: 14px;
	}
	
	#screenon_popup{
		position: absolute;
		left: 5%;
		top: calc(60% - 12px);
		width: 60%;
		font-family: source-han-sans-traditional, sans-serif;
		font-style: normal;
		font-weight: 300;
		font-size: 14px;
	}
	
	#screenoff_popup{
		position: absolute;
		left: 5%;
		top: calc(80% - 12px);
		width: 60%;
		font-family: source-han-sans-traditional, sans-serif;
		font-style: normal;
		font-weight: 300;
		font-size: 14px;
	}
	
	#notifications_bar{
		position: absolute;
		right: 5%;
		top: 30%;
		height: 13%;
		width: 30%;
		background-image: url('../images/kekeke-21.png');
		background-size: contain;
		background-position: right center;
		background-repeat: no-repeat;
	}
	
	#notifications_selectball{
		position: relative;
		float: right;
		right: 0%;
		height: 94%;
		top: 3%;
		width: 25%;
		background-image: url('../images/kekeke-22.png');
		background-size: contain;
		background-position: left center;
		background-repeat: no-repeat;
	}
	
	#popup_on_bar{
		position: absolute;
		right: 5%;
		top: 52%;
		height: 13%;
		width: 30%;
		background-image: url('../images/kekeke-21.png');
		background-size: contain;
		background-position: right center;
		background-repeat: no-repeat;
	}
	
	#popup_on_selectball{
		position: relative;
		float: right;
		right: 0%;
		height: 94%;
		top: 3%;
		width: 25%;
		background-image: url('../images/kekeke-22.png');
		background-size: contain;
		background-position: left center;
		background-repeat: no-repeat;
	}
	
	#popup_off_bar{
		position: absolute;
		right: 5%;
		top: 74%;
		height: 13%;
		width: 30%;
		background-image: url('../images/kekeke-21.png');
		background-size: contain;
		background-position: right center;
		background-repeat: no-repeat;
	}
	
	#popup_off_selectball{
		position: relative;
		float: right;
		right: 0%;
		height: 94%;
		top: 3%;
		width: 25%;
		background-image: url('../images/kekeke-22.png');
		background-size: contain;
		background-position: left center;
		background-repeat: no-repeat;
	}
	
	#third_block{
		grid-area: third_block;
		position: relative;
	}
	
	#support{
		position: absolute;
		left: 5%;
		top: calc(20% - 12px);
		width: 60%;
		font-family: source-han-sans-traditional, sans-serif;
		font-style: normal;
		font-weight: 300;
		font-size: 14px;
	}
	
	#about{
		position: absolute;
		left: 5%;
		top: calc(40% - 12px);
		width: 60%;
		font-family: source-han-sans-traditional, sans-serif;
		font-style: normal;
		font-weight: 300;
		font-size: 14px;
	}
	
	#help{
		position: absolute;
		left: 5%;
		top: calc(60% - 12px);
		width: 60%;
		font-family: source-han-sans-traditional, sans-serif;
		font-style: normal;
		font-weight: 300;
		font-size: 14px;
	}
	
	#report{
		position: absolute;
		left: 5%;
		top: calc(80% - 12px);
		width: 60%;
		font-family: source-han-sans-traditional, sans-serif;
		font-style: normal;
		font-weight: 300;
		font-size: 14px;
	}
	
	#fourth_block{
		grid-area: fourth_block;
		position: relative;
	}
	
	#logout{
		position: absolute;
		left: 5%;
		top: calc(50% - 12px);
		width: 60%;
		font-family: source-han-sans-traditional, sans-serif;
		font-style: normal;
		font-weight: 500;
		font-size: 14px;
		color: #006837;
	}
	
	#type2{
		grid-area: type2;
		background-image: url('../images/kekeke-03.png');
		background-size: contain;
		background-position: center center;
		background-repeat: no-repeat;
	}
	
	#type3{
		grid-area: type3;
		background-image: url('../images/kekeke-04.png');
		background-size: contain;
		background-position: center center;
		background-repeat: no-repeat;
	}
	
	#takeshots{
		position: fixed;
		background-color: white;
		height: 7%;
		width: 100%;
		bottom: 0%;
		z-index: 2;
	}
	
	#camera_pic{
		position: relative;
		background-image: url('../images/kekeke-07.png');
		background-size: contain;
		background-position: center center;
		background-repeat: no-repeat;
		height: 60%;
		top: 20%;
		left: 35%;
		width: 30%;
		z-index: 3;
	}
	
	.mail_left{
		background-size: 100% 100%;
		background-position: left center;
		background-repeat: no-repeat;
		position:relative;
		margin: 0vw 4vw 5vw 10vw;
		float: left;
		width: 38vw;
		height: 40vw;
		z-index: 1;
	}
	
	.mail_right{
		background-size: 100% 100%;
		background-position: left center;
		background-repeat: no-repeat;
		position:relative;
		margin: 0vw 0vw 5vw 0vw;
		float: left;
		width: 38vw;
		height: 40vw;
		z-index: 1;
	}
	
	img{
		position: relative;
		height: 100%;
		width: 100%;
	}
	
	.location{
		font-family: source-han-sans-traditional, sans-serif;
		font-style: normal;
		font-weight: 200;
		font-size: 8px;
		padding-top: 4px;
		background-color: white;
		color: #666666;
		width: 100%;
		position: absolute;
		bottom: 0;
		left: 0;
	}
	
	.mail_left2{
		background-size: 100% 100%;
		background-position: left center;
		background-repeat: no-repeat;
		position:relative;
		margin: 0vw 4vw 5vw 10vw;
		float: left;
		width: 53vw;
		height: 55vw;
		z-index: 1;
	}
	
	.mail_right2{
		background-size: 100% 100%;
		background-position: left center;
		background-repeat: no-repeat;
		position:relative;
		margin: 0vw 10vw 5vw 0vw;
		float: right;
		width: 53vw;
		height: 55vw;
		z-index: 1;
	}
	
	#popup_mail{
		background-color: white;
		border-radius: 10px;
		width: 0px;
		height: 0px;
		top: 50vh;
		left: 50vw;
		position: fixed;
		display: grid;
		grid-template-columns: 5% 90% 5%;
		grid-template-rows: 1fr 9fr 1fr;
		grid-template-areas: 'popup_top popup_top popup_top'
							 'popup_pic popup_pic popup_pic'
							 '. popup_down .';
		z-index: 100;
	}
	
	#popup_background{
		background-image: url('../images/kekeke-20.png');
		background-size: 100% 100%;
		background-position: left center;
		background-repeat: no-repeat;
		top: 0px;
		left: 0px;
		width: 0px;
		height: 0px;
		position: fixed;
		z-index: 99;
	}
	
	#popup_top{
		grid-area: popup_top;
		display: grid;
		grid-template-columns: 15% 75% 10%;
		grid-template-rows: 30% 40% 30%;
		grid-template-areas: '. . .'
							 'popup_back . popup_menu'
							 '. . .';
	}
	
	#popup_back{
		grid-area: popup_back;
		background-image: url('../images/kekeke-09.png');
		background-size: contain;
		background-position: center center;
		background-repeat: no-repeat;
	}
	
	#popup_menu{
		grid-area: popup_menu;
		background-image: url('../images/kekeke-17.png');
		background-size: contain;
		background-position: center center;
		background-repeat: no-repeat;
	}
	
	#popup_pic{
		grid-area: popup_pic;
		background-image: url('../images/kekeke-06.png');
		background-size: 100% 100%;
		background-position: center center;
		background-repeat: no-repeat;
	}
	
	#popup_nextpage{
		position: relative;
		width: 0%;
		height: 100%;
		float: right;
	}
	
	#popup_blur{
		background-image: url('../images/kekeke-16.png');
		background-size: 100% 100%;
		background-position: center center;
		background-repeat: no-repeat;
		position:absolute;
		width: 100%;
		height: 100%;
		z-index: 101;
	}
	
	#text_field{
		width: 100%;
		height: 80%;
		display: table;
	}
	
	#popup_text{
		font-family: source-han-sans-traditional, sans-serif;
		font-style: normal;
		font-weight: 400;
		font-size: 20px;
		display : table-cell;
		vertical-align : middle;
		position: relative;
		width: 100%;
		height: 100%;
		z-index: 102;
		line-height: 32px;
		padding-left: 7%;
	}
	
	#popup_shot{
		position: absolute;
		background-image: url('../images/face-21.png');
		background-size: 100% 100%;
		background-position: center center;
		background-repeat: no-repeat;
		border-radius: 9999px;
		left: 8%;
		bottom: 8%;
		width: 10%;
		height: 10%;
		z-index: 102;
	}
	
	#popup_like{
		position: absolute;
		background-image: url('../images/kekeke-18.png');
		background-size: 100% 100%;
		background-position: center center;
		background-repeat: no-repeat;
		right: 23%;
		bottom: 8%;
		width: 7%;
		height: 7%;
		z-index: 102;
	}
	
	#popup_collection{
		position: absolute;
		background-image: url('../images/kekeke-19.png');
		background-size: 100% 100%;
		background-position: center center;
		background-repeat: no-repeat;
		right: 10%;
		bottom: 8%;
		width: 5%;
		height: 7%;
		z-index: 102;
	}

	#popup_blur{
		grid-area: popup_pic;
		background-image: url('../images/kekeke-16.png');
		background-size: 100% 100%;
		background-position: center center;
		background-repeat: no-repeat;
	}
	
	#popup_down{
		font-family: source-han-sans-traditional, sans-serif;
		font-style: normal;
		font-weight: 300;
		grid-area: popup_down;
		line-height: 10vw;
		text-align: center;
	}
	
	.splitline{
		position: absolute;
		width: 100%;
		height: 1px;
		background-image: url('../images/kekeke-23.png');
		background-size: 100% 100%;
		background-position: left center;
		background-repeat: no-repeat;
	}
}